* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: black;
    min-height: 100%;
    min-width: 100vw;
    min-height: 100vh;
}

#myVideo {
    width: 1366px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fa-star {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: white;
    transform: translate(-50%, -50%);
    animation: star 2s infinite alternate ease-in-out;
}

@keyframes star {
    0% {
        opacity: .5;
        transform: scale(1);
    }
    50% {
        opacity: .75;
    }
    100% {
        opacity: 1;
        transform: scale(1.5);
    }
}

#lyrics p {
    position: absolute;
    width: 100%;
    font-size: 30px;
    transition: all .4s;
}

#line1, #line2, #line3, #line4 {
    font-family: "Jersey 10 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

#line1{
    position: absolute;
    top: 10%;
    left: 5%;
}

#line2{
    position: absolute;
    bottom: 10%;
    left: 70%;
}

#line3{
    position: absolute;
    font-size: 30px;
    top: 10%;
    left: 5%;
}

#line4{
    position: absolute;
    bottom: 10%;
    left: 70%;
}

.fa-expand {
    position: absolute;
    top: 5%;
    right: 3%;
    font-size: 42px;
    color: white;
  }
  
.fa-expand:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}

